name: Broken Link Checker
on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 1" # Runs every Monday automatically

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.9.0
        with:
          # Check your live site + all markdown files in repo
          args: --verbose --no-progress 'https://omahatreecare.com'
          fail: true